<section class="contenedor">
  <div class="contenedor__carrousel">
    <xeron-carousel></xeron-carousel>
  </div>
  <div class="contenedor__recomendaciones">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><xeron-min-product-card></xeron-min-product-card></div>
        <div class="swiper-slide"><xeron-min-product-card></xeron-min-product-card></div>
        <div class="swiper-slide"><xeron-min-product-card></xeron-min-product-card></div>
        <div class="swiper-slide"><xeron-min-product-card></xeron-min-product-card></div>
        <div class="swiper-slide"><xeron-min-product-card></xeron-min-product-card></div>
      </div>

      <div class="swiper-pagination"></div>


      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>

</section>
