.contenedor{

  &__carrousel{

    margin: 1em;
    padding: 1.3em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(167, 167, 167, 0.507);
  }

}
