<a *ngIf="object && object[primaryKey]!=0" type="button" title="Editar" class="text-info ml-2" data-toggle="modal"
    [attr.data-target]="'#modal'+key+'-'+object[primayKey]">
    <i class="far fa-edit"></i>
</a>

<div *ngIf="object && object[primaryKey]==0" class="btn btn-danger btn-sm float-left float-md-right mb-2 mb-md-0"
    data-toggle="modal" [attr.data-target]="'#modal'+key+'-'+object[primayKey]">{{title}}</div>

<!-- Modal -->
<div *ngIf="object" class="modal fade" [attr.id]="'modal'+key+'-'+object[primayKey]" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{title}}</h5>
                <button #closebutton type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #objectForm="ngForm">
                <div class="modal-body text-left">
                    <div class="form-row">

                        <ng-container *ngFor="let data of inputs">
                            <div class="form-group col-12 order-first order-md-2">
                                <ng-container *ngIf="data.input">
                                    <xeron-input-form [name]='data.input.name' [type]='data.input.type'
                                        [placeholder]="data.input.placeholder" [required]='data.input.required'
                                        [value]='data.input.value' (onChange)="object[data.key] = $event">
                                    </xeron-input-form>
                                </ng-container>
                                <ng-container *ngIf="isTypeOfSelectForm(data)">
                                    <xeron-select-form [name]='data.input.name' [key]='data.input.key'
                                        [options]="data.input.options" [select]="data.input.select"
                                        [required]='data.input.required' (onSelect)="object[data.key] = $event">
                                    </xeron-select-form>
                                </ng-container>
                            </div>
                        </ng-container>

                        <div class="form-group col-12 order-first order-md-2">
                            <xeron-errors-form [show]="status.errores" [errors]="status.errores"></xeron-errors-form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <xeron-button-close-form></xeron-button-close-form>
                    <xeron-button-confirm-form [loading]="status.loading" (onConfirm)="confirmar()">
                    </xeron-button-confirm-form>
                </div>
            </form>
        </div>
    </div>
</div>