<div class="float-left d-inline-block title col-12 p-0">
    <div class="gradient float-left col-12 p-0 pb-5">
        <div class="container text-center pt-5">
            <h2 id="title" class="animated fadeInDown">Bienvenidos a nuestra Tienda Online</h2>
        </div>
    </div>
</div>

<div class="row height">
    <div class="container">
        <div class="col-12">
            <xeron-filtros></xeron-filtros>
        </div>
        <div class="col 12">
            b
        </div>
    </div>
</div>